{% load static %}
<!<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" 
    href="{% static 'blog/css/base.css' %}">
    <script src="{% static 'blog/js/welcome.js' %}"></script>
  </head>
  <body onload="greet()"> <!---when the page has been loaded the greet function called -->
    <h3>Edit Blog: </h3>
    {% if blogs %}
    <ul class="number">
      {% for blog in blogs %}
      <li>{{blog.name}}<a href='/blogs/add_blog/{{blog.id}}'> [Edit]</a></li>
      {% endfor %}
    {% else %}
    <p>No Blog articles are available </p>
    </ul>
    {% endif %}
  </body>
</html>
